<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<!-- For GitHub repo display; use with the githubrepo-octopress plugin -->
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
<script type="text/javascript" src="{{ root_url}}/javascripts/jquery.githubRepoWidget.min.js"></script>
<!--script>
  $.noConflict()
</script-->

<script src="{{ root_url }}/javascripts/libs/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="{{ root_url }}/javascripts/menu.min.js" type="text/javascript"></script>
